{% extends 'base.html.twig' %}
{% block title %}Домашняя страница{% endblock %}

{% block body %}
<body bgcolor="white">
<div class="mx-8 my-7 mb-10 flex-grow">
<p class = "text-lg" style="font-family:PT Sans;">
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum rutrum bibendum.
 Integer facilisis libero quis enim pellentesque, vitae sodales massa vestibulum. Duis vel nisl et justo rutrum bibendum et ut diam. 
 Phasellus sit amet lectus lorem. Duis vitae sem eget eros fringilla imperdiet. Cras varius et quam nec laoreet. Vivamus vel semper ex. 
 Suspendisse lacinia eros sodales dolor dapibus mollis.
</p>
<br>
<p class = "text-lg" style="font-family:PT Sans;">
Quisque pulvinar porttitor vestibulum. Donec mollis bibendum justo, eget convallis mauris sodales non.
Nullam id est sem. Nunc blandit nunc quis magna blandit, et congue elit lobortis. Praesent ultricies, ante ut pharetra facilisis, 
velit tortor fermentum leo, ut vehicula augue urna ut felis. Etiam laoreet diam augue, eu consectetur metus placerat et. 
In gravida felis sed tincidunt pellentesque. Quisque in metus nec velit cursus luctus.
</p>
<br>
<p class = "text-lg" style="font-family:PT Sans;">
Nullam sed justo fermentum, volutpat est quis, elementum est. Curabitur malesuada, arcu ut mollis porta, nibh justo rhoncus lectus,
bibendum varius ex nibh at leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
Etiam velit odio, tincidunt nec tincidunt vel, cursus vitae massa. Morbi rhoncus massa ac turpis congue, at mollis neque molestie. 
Sed pharetra lectus ornare consectetur scelerisque. Nunc consequat luctus nunc, nec eleifend lorem feugiat id.
</p>
<br>
<p class = "text-lg" style="font-family:PT Sans;">
Aliquam facilisis porttitor eros, nec luctus nulla interdum quis. Donec imperdiet lobortis erat, vitae venenatis quam faucibus at. 
Proin aliquam lacus fringilla tristique varius. Donec lobortis imperdiet vulputate. Maecenas at tempor sem. Mauris vel dignissim nulla. 
Phasellus tortor est, efficitur at placerat in, convallis eu tortor. Maecenas bibendum ornare elit, sit amet posuere mauris fringilla id. 
Integer ac ultrices dui. Cras gravida laoreet convallis. Aenean id aliquam arcu, a convallis metus. Maecenas consectetur nisl vitae quam posuere efficitur.
Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut eu tincidunt turpis. Vestibulum eu euismod arcu. 
Donec lobortis dolor ac commodo laoreet.
</p>
</div>
<center class ="mb-12">
  <a href="#"style="font-family:PT Sans;" class="text-center mt-7 rounded-full py-2 px-16 shadow-2xl border border-transparent text-2xl rounded-md text-white bg-black hover:bg-gray-800">
    Get started
  </a>
</center>
{% endblock %}
