<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://kit.fontawesome.com/9dc492a82d.js" crossorigin="anonymous"></script>
        <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
    <div class="flex flex-col h-screen">
        {% if app.user %}
            {% include 'header-authorized.html.twig' %}
        {% else %}
            {% include 'header-non-authorized.html.twig' %}
        {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% include 'footer.html.twig' %}
    </div>
    </body>
</html>
