<footer>
    <div class="bg-black h-36">
        <div class="flex items-center h-24">
            <div class="flex items-center justify-center box-border mx-auto h-16 w-16 p-1 border">
                <span class="iconify object-contain h-8 w-8" data-inline="false" data-icon="bi:shop" style="font-size: 200px; color: #FFFFFF"></span>
            </div>
        </div>
        <div class="text-center">
            <h5 class="text-white">© 2021, Интернет-магазин одежды</h5>
        </div>
    </div>
</footer>
