<header class="bg-black">

    <div class="w-full border-b-2">
        <div class="m-auto w-max">
            <a class="flex flex-row items-center content-center" href="{{ path('start_page') }}">
                <div class="h-20 flex items-center">
                    <div class="mr-4">
                        <span class="iconify object-contain h-8 w-8" data-inline="false" data-icon="bi:shop" style="font-size: 200px; color: #FFFFFF"></span>
                    </div>
                    <div class="text-white text-5xl">
                        Интернет-магазин одежды
                    </div>
                </div>
            </a>
        </div>

        <div class="absolute right-0">
            <div class="relative bottom-14">
                <ul class="flex flex-row text-lg mr-10 text-white">
                    <li class="transform transition duration-300 hover:scale-110">
                        <a href="{{ path('app_login') }}">Вход</a>
                    </li>
                    <li class="transform transition duration-300 hover:scale-110 ml-12">
                        <a href="{{ path('app_register') }}">Регистрация</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container mx-auto">
        <div class="h-16 flex items-center">
            <ul class="flex flex-row justify-between ml-56 mr-56 w-full text-white">
                {% for category in categories %}
                    <li class="text-2xl">{{ category.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

</header>