{% extends 'base.html.twig' %}
{% block title %}Домашняя страница{% endblock %}

{% block body %}

<body bgcolor="white">
<div class = "mt-10 text-3xl", style="font-family:PT Sans;">
    {{mainOffer.name}}
</div>
{{ include('catalog/_form.html.twig') }}
{% endblock %}
