{% extends 'base.html.twig' %}
{% block title %}Домашняя страница{% endblock %}

{% block body %}
{% include 'header.html.twig' %}

<body bgcolor="white">
<div class = "mt-10 text-3xl", style="font-family:PT Sans;">
    {{offer.name}}
</div>
{% include 'footer.html.twig' %}
{% endblock %}
