{% extends 'base.html.twig' %}

{% block title %}Hello CatalogController!{% endblock %}

{% block body %}

<form action={{path('catalog')}} method="GET">
    <input size="15" type="text" id="latbox" name="lat" value=""> 
    <input type="submit" value="Add to cart" />
</form>

{% endblock %}
